// Обнуление
* {
    padding: 0;
    margin: 0;
    border: 0;
}
  
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
:focus, :active {
    outline: none;
}
  
a:focus, a:active {
    outline: none;
}
  
nav, footer, header, aside {
    display: block;
}
  
html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
  
input, button, textarea {
    font-family: inherit;
}
  
input::-ms-clear {
    display: none;
}
  
button {
    cursor: pointer;
}
  
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
  
a, a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
ul li {
    list-style: none;
}
  
img {
    vertical-align: top;
}
  
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}
  
// ------------------------

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

//----Переменные----
$ff:'Lato', sans-serif;

//----Проект----

//----Прижате footer к нижней части----

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top {
    flex: 1 1 auto;
}

.header { 
    display: flex;
    justify-content: space-between;  
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.17);
}

.content {
    display: flex;
}

.logo2 {
    margin-left: 13px;
}

.navbar {
    margin-left: 37px;
}

//----Выпадающая кнопка и список в Header----

summary {
    display: block;
    list-style-type: none;
    width: 100px;
    height: 38px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}

summary::after {
    content: '\25BC';
    padding-right: 0.5em;
    color: #838383;
    margin-left: 10px;
}

// details[open] > summary::after {
//     content: '\25BC';
//     margin-left: 7px;
// }

.dropdown {
    margin-left: 37px;
    position: relative;
    display: flex;
}
.dropdown-list {
    background-color: #fff;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    position: absolute;
    display: flex;
    z-index: 99999;
}

.right__btn {
    justify-content: right;
    padding-right: 26px;
}

.search_field input {
    width: 317px;
    height: 38px;
    border: solid 1px #e6e6e6;
    background-color: #fff;
    padding-left: 16px;
}

.search_field button {
    width: 42px;
    height: 38px;
    background: #ffffff;
    position: absolute;
    border: 1px solid #e6e6e6;
}

.search_field button:before {
    content: "\f002";
    font-family: 'FontAwesome';
    font-size: 16px;
    color: #a4a4a4;
}
.dropdown__btn {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    font-family: $ff;
    line-height: 2.13;
    letter-spacing: 0.38px;
    text-align: center;
    color: #fff;
}

.dropdown__btn:hover {
    background-color: #fff;
    color: #f16d7f;
    font-weight: 600;
    border: 1px solid #e6e6e6

}


.menu a{
    text-decoration: none;
}

.menu li{
    list-style: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-left: 225px;
    padding-right: 225px;
    
    font-family: $ff;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    position: relative;
}

.menu-link {
    color: #222222;
    padding: 19px 19px 22px 19px;
}

.menu-link:hover {
    color: red;
}

.menu-list {
    display: flex;
    position: relative;
}


.mega-box {
    background-color: #fff;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    position: absolute;
    top: 55px;
    display: none;
}

.mega-heading {
    border-bottom: 1px solid #e8e8e8;
    width: 235px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    color: #232323;
    font-family: $ff;
    font-weight: 400;
    text-transform: uppercase;
}

.mega-link {
    display: block;
    font-family: $ff;
    font-weight: 400;
    color: #646464;  
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
    line-height: 28px;
    text-transform: capitalize;
    
}

.mega-link:hover {
    color: red;
}

.mega-item {
    margin-right: 46px;
    padding: 20px 0;
    
}

.mega-item:last-of-type {
    margin-right: 0;
    flex-wrap: wrap;
}

.mega-box:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: -7px;
    left: 29px;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.menu-list:hover .mega-box{
    display: flex;
}

.mega-img {
    width: 255px;
    height: 118px;
    background: url('../img/Index/Sylvester.png') 0 0 no-repeat;
    position: relative;
    &-text {
        color: #ffffff;
        font-family: "Lato - Black";
        font-size: 22px;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: 0.55px;
        line-height: normal;
        margin: 61px 10px 12px 174px;
        position: absolute;
    }
}

.last:hover .mega-box {
    right: 0;
    left: auto;
}

.last:hover .mega-box:before {
    right: 53px;
    left: auto;
}

.sub__header {
    background-color: #e8e8e8;
    &__img {
        background: url('../img/Index/banner.png') 100% 50% no-repeat;
        display: flex;
        padding: 224px 0 297px 0;
    }
    &__decor {
        background-color: #f16d7f;
        min-width: 12px;
        margin: 0 12px 0 0;
    }
    &__text {
        max-width: 589px;
        font-size: 40px;
        font-weight: 900;
        letter-spacing: 0.025em;
        color: #222222;
        margin: -8px 0 -5px 0;
        span:first-child {
            font-size: 60px;
        }
        span:last-child {
            color: #f16d7f;
        }
    }    
}

.header_banner {
    background: 100% 50% no-repeat;
}

.text__border {
    border-left:12px solid #f16d7f;
}

.text {
    font-family: $ff;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
    
    padding-left: 12px;
}

.text__second {
    font-size: 40px;
}

.text__third {
    font-size: 40px;
    color: #f16d7f;
}

.content {
    & a {
        text-decoration: none;
    }
    &__fist {
        display: flex;
        margin: 48px 0 0 0;
        justify-content: space-between;
    }
    &__card {
        display: flex;
        flex-direction: column;
    }

    &__title {
        display: flex;
        margin: 0 0 20px 0;
        width: 560px;
        &:last-child {
            margin: 0;
        }
        &_1 {
            background: url('../img/Index/man.png') 0 0 no-repeat;
            height: 542px;
        }
        &_2 {
            background: url('../img/Index/ACCESORIES.png') 0 0 no-repeat;
            height: 261px;
        }
        &_3 {
            background: url('../img/Index/women.png') 0 0 no-repeat;
            height: 261px;
        }
        &_4 {
            background: url('../img/Index/for_kids.png') 0 0 no-repeat;
            height: 542px;
        }
    }
    &__label {
        max-height: 82px;
        margin: 26px 0 0 0;
        background-color: #fff;
        padding: 16px 20px;
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #222222;
        span {
            font-size: 30px;
            color: #f16d7f;
        }
    }
}

.text__1 {
    height: 23px;
    color: #222222;
    font-family: $ff;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 54px;
    text-align: center;
    padding-top: 80px;
}

.text__2 {
    height: 12px;
    color: #9f9f9f;
    font-family: $ff;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 54px;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 59px;
}

.card__box {
    background: white;
    padding: 0 0 20px;
    font-size: 14px;
    font-family: $ff;
    text-transform: uppercase;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.product-item {
    position: relative;
    overflow: hidden;
    width: 263px;
    height: 364px;
    
}

.item {
    width: 263px;
    position: relative;
    margin-bottom: 40px;
    &-link {
        display: block;
        width: 263px;
    }
    &-txt-box {
        padding: 15px;
    }
    &-pic {
        width: 100%;
    }
    &-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.txt-desc {
    color: #222222;
    font-family: $ff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.txt-price {
    color: #f16d7f;
    font-family: $ff;
    font-size: 16px;
    font-weight: 700;
}

.item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item:hover .item-pic {
    filter: brightness(30%);
}

.add-box {
    display: none;
    position: absolute;
    top: 98px;
    justify-content: center;
    width: 100%;
    pointer-events: none;
}

.add-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 7px;
    pointer-events: all;
}

.add-txt {
    color: #ffffff;
    font-family: $ff;
    font-size: 13px;
    font-weight: 700;
    margin-left: 8px;
}

.item:hover .add-box{
    display: flex;
}

.add-link:hover {
    box-shadow: 0 0 10px #ffffff;
}

// .product-buttons {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 80%;
//     background: rgba(0, 0, 0, .8);
//     opacity: 0;
//     transition: .3s ease-in-out;
// }
//  .button {
//     text-decoration: none;
//     color: #ffffff;
//     font-size: 12px;
//     width: 140px;
//     height: 40px;
//     line-height: 40px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     border: 1px solid #ffffff;
//     transform: translate(-50%, -50%) scale(0);
//     transition: .3s ease-in-out;
// }

// .button:before {
//     content: "\f07a";
//     font-family: 'FontAwesome', sans-serif;
//     margin-right: 10px;
// }

// .product-item:hover .product-buttons {
//    opacity: 1;
// }
// .product-item:hover .button {
//    transform: translate(-50%, -50%) scale(1);
// }
// .button:hover {
//     background: rgba(0, 0, 0, .8);
//     color: #ffffff;
   
// }
// .product-title {
//    color: #222222;
//    text-align: left;
//    padding: 20px 0;
// }
// .product-title:hover {
//     box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
//     background-color: #ffffff;
// }

// .product-price {
//     width: 50px;
//     height: 15px;
//     color: #f16d7f;
//     font-size: 16px;
//     font-weight: 700;
//     text-align: left;
// }

.content__btn {
    display: flex;
    justify-content: center;
}

.cont__btn {
    width: 212px;
    height: 55px;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: $ff;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 54px;
    text-align: center;
}

.cont__btn:hover {
    background-color: #fff;
    color: #f16d7f;
    font-weight: 600;
    border: 1px solid #e6e6e6
}

.container-promo {
    height: 490px;
    background: #222224;
    margin-top: 113px;
    background-image: url(../img/Index/promoimg.png);
    background-repeat: no-repeat;
    position: relative;

}

.sales-text {
    position: absolute;
    top: 146px;
    left: 39px;
    width: 323px;
    height: 78px;
    color: #ffffff;
    font-family: $ff;
    font-size: 54px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    .sale {
        font-style: normal;
        letter-spacing: 1.5px;
        line-height: normal;
    }
    .saleText {
        color: #f16d7f;
        font-style: normal;
        letter-spacing: 1.5px;
        line-height: normal;
    }
    .saleText_2 {
        font-size: 32px;
        font-style: normal;
        letter-spacing: 0.9px;
        line-height: normal;
    }
}

.promo-icon {
    display: flex;
    justify-content: flex-end;
    padding-right: 43px;
}

.icon {
    padding-top: 48px;
}


.promo-text {
    padding-left: 33px;
    padding-top: 55px;
}

.mainText {
    width: 219px;
    height: 20px;
    color: #fbfbfb;
    font-family: $ff;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

.promo {
    width: 219px;
    height: 58px;
    color: #fbfbfb;
    font-family: $ff;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.footer {
    height: 975px;
    padding-top: 97px;

}

.footer_info {
    height: 488px;
    background: url(../img/Index/Footer_img.png) 0 0 no-repeat;
    background-size: 100%;
    position: relative;
    opacity: 1;
    
}

.footer_info::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 1px;
    height: 518px;
    background-color: #ffffff;
}

.footer_content {
    display: flex;
    justify-content: space-around;
    padding-top: 111px;
}

.footer_icon {
    float: left;
    padding-right: 28px;
}

.footer_info_text {
    width: 476px;
    height: 68px;
    color: #222224;
    font-family: $ff;
    font-size: 16px;
    font-style: italic;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    padding-left: 28px;
}

.footer_info_text2 {
    padding-left: 113px;
    height: 27px;
    color: #f16d7f;
    font-size: 16px;
    text-align: left;
    font-family: 'Lato - Bold';
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: 0.9em;
    margin-top: 19px;
    .footer_info_text3 {
        height: 27px;
        color: #222224;
        font-family: 'Lato Light';
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 0.3px;
        line-height: 14px;
    }
}

.lineBlock {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    width: 175px;
    margin-top: 41px;
    .underlineBlock {
        height: 10px;
        width: 38px;
        border-top: 4px solid #e9204f;
        list-style-type: none;
        
    }
}

.right_footer_info {
    padding-top: 37px;
}

.footer_sub {
    padding-left: 128px;
    width: 277px;
    height: 41px;
    color: #222224;
    font-family: $ff;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    letter-spacing: 0.6px;
    line-height: 54px;
    text-transform: uppercase;
}

.footer_text {
    padding-left: 54px;
    color: #222224;
    font-family: $ff;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    line-height: 24px;
}

.footer_field {
    width: 334px;
    height: 46px;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    padding-left: 28px;
    margin-top: 30px;
    position: relative;
}

.footer_btn {
    width: 104px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    margin-top: 30px;
    position: absolute;
    
}

.footer_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 97px;
    padding-top: 123px;
}

.footer-log-box {
    display: flex;
    align-items: center;
}

.footer-logo2 {
    padding-left: 13px;
}

.footer_box_text {
    margin-top: 29px;
    width: 427px;
    height: 180px;
    color: #898989;
    font-family: $ff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.35px;

}

.mainboxText {
    height: 14px;
    color: #f16d7f;
    font-family: $ff;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.45px;
    line-height: normal;
}

.box_text a {
    width: 101px;
    height: 179px;
    color: #898989;
    font-family: $ff;
    font-weight: 400;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: 42px;
    text-decoration: none;
    margin-top: 41px;
}

.box_text a:hover {
    color: red;
}

.footer_link {
    padding-top: 41px;
    padding-left: 0;
}

.footer_link li {
    list-style: none;
}

.footer_bottom {
    height: 79px;
    background-color: #e6e6e6;
}

.footer_finish {
    display: flex;
    justify-content: space-between;

    
}

.footer_copy_text {
    width: 260px;
    height: 14px;
    color: #7a7a7a;
    font-family: $ff;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: normal;
    padding-top: 33px;
}

.social {
    padding-top: 24px;
}

.social a {
    color: #b2b2b2;
}

.social a:hover {
    background: #f16d7f;
    color: #f7f7f8;
    display: inline-block;
    border-radius: 0;
    box-shadow: 1px 4px 0 #e6e6e6 inset, -1px -4px 0 #e6e6e6 inset;
}

//----Single Page----

.single-content {
    background-color: #f8f3f4;
}

.single-cont {
    &-text {
        display: flex;
        justify-content: space-between;
        height: 148px;
        align-items: center;
    }
    &-name {
        width: 176px;
        height: 18px;
        color: #f16d7f;
        font-family: "Lato - Black";
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
    }
    &-img {
        background: url('../img/Single_page/Girl1.png') 50% 50% no-repeat;
        display: flex;
        height: 777px;
    }
    &-border {
        height: 730px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
    }
    &-info {
        display: flex;
        justify-content: center;
    }
}

//---- Стиль списка ---
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
  }
//---- Отображение элементов списка бок о бок ---
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    text-transform: uppercase;
  }
//---- Добавить символ косой черты (/) перед/за каждым элементом списка ---
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
//---- Добавить цвет для всех ссылок внутри списка ---
ul.breadcrumb li a {
    color: #636363;
    text-decoration: none;
  }
  
// --- Добавить цвет на наведении курсора мыши ----
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

ul.breadcrumb li:last-of-type {
    color: #f16d7f;
    font-family: "Lato - Bold";
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.cont-img {
    background-color: #f7f7f7
}