@import "../scss/zeroing";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

//----Переменные----
$ff:'Lato', sans-serif;

//----Прижате footer к нижней части----

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    flex: 1 1 auto;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import "../scss/header";
@import "../scss/home";
@import "../scss/single_page";
@import "../scss/product";
@import "../scss/checkout";
@import "../scss/shopping_cart";
@import "../scss/footer";

