.footer {
    height: 975px;
}

.footer_info {
    height: 488px;
    background: url(../img/Index/Footer_img.png) 0 0 no-repeat;
    background-size: 100%;
    position: relative;
    opacity: 1;
    
}

.footer_info::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 1px;
    height: 100%;
    background-color: #ffffff;
}

.footer_content {
    display: flex;
    justify-content: space-around;
    padding-top: 111px;
}

.footer_icon {
    float: left;
    padding-right: 28px;
}

.footer_info_text {
    width: 476px;
    height: 68px;
    color: #222224;
    font-family: $ff;
    font-size: 16px;
    font-style: italic;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    padding-left: 28px;
}

.footer_info_text2 {
    padding-left: 113px;
    height: 27px;
    color: #f16d7f;
    font-size: 16px;
    text-align: left;
    font-family: 'Lato - Bold';
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: 0.9em;
    margin-top: 19px;
    .footer_info_text3 {
        height: 27px;
        color: #222224;
        font-family: 'Lato Light';
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 0.3px;
        line-height: 14px;
    }
}

.lineBlock {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    width: 175px;
    margin-top: 41px;
    .underlineBlock {
        height: 10px;
        width: 38px;
        border-top: 4px solid #e9204f;
        list-style-type: none;
        
    }
}

.right_footer_info {
    padding-top: 37px;
}

.footer_sub {
    padding-left: 128px;
    width: 277px;
    height: 41px;
    color: #222224;
    font-family: $ff;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    letter-spacing: 0.6px;
    line-height: 54px;
    text-transform: uppercase;
}

.footer_text {
    padding-left: 54px;
    color: #222224;
    font-family: $ff;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    line-height: 24px;
}

.footer_field {
    width: 334px;
    height: 46px;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    padding-left: 28px;
    margin-top: 30px;
    position: relative;
}

.footer_btn {
    width: 104px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    margin-top: 30px;
    position: absolute;
    color: #ffffff;
    font-family: $ff;
    font-size: 14px;
    font-weight: 400;
}

.footer_btn:hover {
    background-color: #ffffff;
    color: #f16d7f;
}

.footer_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 97px;
    padding-top: 123px;
}

.footer-log-box {
    display: flex;
    align-items: center;
}

.footer-logo2 {
    padding-left: 13px;
}

.footer_box_text {
    margin-top: 29px;
    width: 427px;
    height: 180px;
    color: #898989;
    font-family: $ff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.35px;

}

.mainboxText {
    height: 14px;
    color: #f16d7f;
    font-family: $ff;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.45px;
    line-height: normal;
}

.box_text a {
    width: 101px;
    height: 179px;
    color: #898989;
    font-family: $ff;
    font-weight: 400;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: 42px;
    text-decoration: none;
    margin-top: 41px;
}

.box_text a:hover {
    color: red;
}

.footer_link {
    padding-top: 41px;
    padding-left: 0;
}

.footer_link li {
    list-style: none;
}

.footer_bottom {
    height: 79px;
    background-color: #e6e6e6;
}

.footer_finish {
    display: flex;
    justify-content: space-between;

    
}

.footer_copy_text {
    width: 260px;
    height: 14px;
    color: #7a7a7a;
    font-family: $ff;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: normal;
    padding-top: 33px;
}

.social {
    padding-top: 24px;
}

.social a {
    color: #b2b2b2;
}

.social a:hover {
    background: #f16d7f;
    color: #f7f7f8;
    display: inline-block;
    border-radius: 0;
    box-shadow: 1px 4px 0 #e6e6e6 inset, -1px -4px 0 #e6e6e6 inset;
}