.header { 
    display: flex;
    justify-content: space-between;  
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.17);
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.logo2 {
    margin-left: 13px;
}

.navbar {
    margin-left: 37px;
}

//----Выпадающая кнопка и список в Header----

.drop-btn {
    display: block;
    list-style-type: none;
    width: 100px;
    height: 38px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    cursor: pointer;
    &:after {
        content: '';
        position: absolute;
        color: #838383;
        top: 44%;
        margin-left: 10px;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: #6f6e6e transparent transparent transparent;
    }
    &:hover {
        color: #ce8787;
        background-color: #fff;
        text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.55), 0 0 0.5em currentColor;
	    box-shadow: inset 0 0 0.5em 0 rgba(235, 97, 143, 1), 0 0 0.5em 0 rgba(235, 97, 143, 1);
    }
}


.dropdown {
    margin-left: 37px;
    position: relative;
    display: flex;
}
.dropdown-list {
    background-color: #fff;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    position: absolute;
    display: flex;
    z-index: 99999;
}

//----Меню корзины------
.right-btn {
    display: flex;
    &__cart-box {
        padding-right: 26px;
        &_logo {
            background-image: url(../img/Index/cart.png);
            background-repeat: no-repeat;
            width: 32px;
            height: 29px;
            background-size: contain;
            display: block;
            cursor: pointer;
        }
        &_menu {
            &-box {
                position: relative;
                &_list {
                    background-color: #ffffff;
                    padding: 20px;
                    border-radius: 5px;
                    position: absolute;
                    flex-wrap: wrap;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
                    border: 1px solid #ececec;
                    margin: 16px -3px;
                    z-index: 5;
                    &-border {
                        border-bottom: 1px solid #eaeaea;
                        display: flex;
                        padding-bottom: 16px;
                        margin-bottom: 20px;
                        &_text {
                            display: -webkit-box;
                            &_txt {
                                padding-left: 14px;
                                h3 {
                                    color: #222222;
                                    font-family: $ff;
                                    font-size: 12px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    padding: 10px 0 10px 0;
                                }
                                p {
                                    color: #f16d7f;
                                    font-family: $ff;
                                    font-size: 12px;
                                    font-weight: 400;
                                    padding-top: 10px;
                                }
                            }
                            a {
                                padding-left: 43px;
                            }
                        }    
                    }
                    &_total {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        margin-bottom: 32px;
                        p {
                            color: #222222;
                            font-family: $ff;
                            font-size: 16px;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                    }
                    &_box {
                        // display: flex;
                        &-btn {
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            width: 225px;
                            height: 50px;
                            border: 1px solid #f16d7f;
                            color: #f16d7f;
                            font-family: $ff;
                            font-size: 14px;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin-bottom: 11px;
                            &:hover {
                                border: 3px solid #00aced;
                                box-shadow: 0px 0px 25px #00aced;
                                color: #00aced;
                            }
                            &.second {
                                border: 1px solid #eaeaea;
                                color: #4a4a4a;
                                font-family: $ff;
                                font-size: 14px;
                                font-weight: 700;
                            }
                        }

                    }
                    &:before {
                        content: '';
                        display: block;
                        width: 12px;
                        height: 12px;
                        background-color: #fff;
                        position: absolute;
                        top: -7px;
                        left: 15px;
                        transform: rotate(45deg);
                        border-left: 1px solid #e8e8e8;
                        border-top: 1px solid #e8e8e8;
                    }

                }
            }
            &:hover &-box_list {
                display: flex;
            }
        }  
    }
}

.search_field input {
    width: 317px;
    height: 38px;
    color: #a4a4a4;
    font-family: $ff;
    font-size: 14px;
    font-weight: 300;
    border: solid 1px #e6e6e6;
    background-color: #fff;
    padding-left: 16px;
    cursor: text;
}

.search_field button {
    width: 42px;
    height: 38px;
    background: #ffffff;
    position: absolute;
    border: 1px solid #e6e6e6;
}

.search_field button:before {
    content: "\f002";
    font-family: 'FontAwesome';
    font-size: 16px;
    color: #a4a4a4;
}
.dropdown__btn {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    font-family: $ff;
    line-height: 2.13;
    letter-spacing: 0.38px;
    text-align: center;
    color: #fff;
}

.dropdown__btn:hover {
    background-color: #fff;
    color: #f16d7f;
    font-weight: 600;
    border: 1px solid #e6e6e6;
    text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.55), 0 0 0.5em currentColor;
	box-shadow: inset 0 0 0.5em 0 rgba(235, 97, 143, 1), 0 0 0.5em 0 rgba(235, 97, 143, 1);

}


.menu a{
    text-decoration: none;
}

.menu li{
    list-style: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-left: 225px;
    padding-right: 225px;
    
    font-family: $ff;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    position: relative;
}

.menu-link {
    color: #222222;
    padding: 19px 19px 22px 19px;
}

.menu-link:hover {
    color: red;
}

.menu-list {
    display: flex;
    position: relative;
    z-index: 99998;
}


.mega-box {
    background-color: #fff;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    position: absolute;
    top: 55px;
    display: none;
}

.mega-heading {
    border-bottom: 1px solid #e8e8e8;
    width: 235px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    color: #232323;
    font-family: $ff;
    font-weight: 400;
    text-transform: uppercase;
}

.mega-link {
    display: block;
    font-family: $ff;
    font-weight: 400;
    color: #646464;  
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
    line-height: 28px;
    text-transform: capitalize;
    
}

.mega-link:hover {
    color: red;
}

.mega-item {
    margin-right: 46px;
    padding: 20px 0;
    
}

.mega-item:last-of-type {
    margin-right: 0;
    flex-wrap: wrap;
}

.mega-box:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: -7px;
    left: 29px;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.menu-list:hover .mega-box{
    display: flex;
}

.mega-img {
    width: 255px;
    height: 118px;
    background: url('../img/Index/Sylvester.png') 0 0 no-repeat;
    position: relative;
    @keyframes blink {
        from { opacity: 1; /* Непрозрачный текст */ }
        to { opacity: 0.5; /* Прозрачный текст */ }
    }
    &-text {
        animation: blink 2s infinite;
        color: #ffffff;
        font-family: "Lato - Black";
        font-size: 22px;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: 0.55px;
        line-height: normal;
        margin: 61px 10px 12px 174px;
        position: absolute;
    }
}

.last:hover .mega-box {
    right: 0;
    left: auto;
}

.last:hover .mega-box:before {
    right: 53px;
    left: auto;
}